<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.huan.mapper.StudentMapper" >
    <resultMap id="BaseResultMap" type="com.example.huan.entity.Student" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="stu_number" property="stuNumber" jdbcType="INTEGER" />
    </resultMap>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM student
    </select>
</mapper>